.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel-items {
  display: flex;
}
.carousel-item {
  min-width: 100%;
}

.carousel-item img {
  width: 100%;
}

.carousel-indicators {
  display: flex;
  justify-content: space-between;
}

button{
    width: 100%;
}
